In [1]:
from __future__ import division
import pandas as pd

df = pd.read_csv('datasets/algebradata.csv')
df.head()

     Fname     Lname Gender Grade  Hours of Study
0     Mary  Ettienne      F     B              16
1  Charles    Looner      M     F               8
2    Betty  Franklin      F     A              24
3    Roger   Withers      M     C               5
4     John   Mulgrew      M     A               5

In [2]:
# Percentage of students with a passing grade
percent_passed = ((df[df['Grade']!='F']['Fname'].count())*100/(df['Fname'].count()))
percent_passed

91.691691691691688

In [3]:
# Percentage of women with a passing grade
women_percent_passed = ((df[(df['Grade']!='F') & (df['Gender']=='F')]['Fname'].count())*100/(df['Fname'].count()))
women_percent_passed

49.449449449449446

In [4]:
#Average hours of study for all students
mean_hours_study = df['Hours of Study'].mean()
mean_hours_study

15.115115115115115

In [5]:
#Average hours of study for students with a passing grade
mean_hours_passed = df.loc[(df['Grade']!='F')]['Hours of Study'].mean()
mean_hours_passed

15.875545851528384